html, body {
	height: 100%;
}

a:hover {
	text-decoration: none;
}

#content-wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 75px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

/***** Navbar *****/
.navbar {
	background: url('https://github.com/hunterhedges/mipsSimulator/blob/master/images/overlay.png?raw=true');
	background-color: #041942;
	font-family: 'Open Sans', sans-serif;
	color: #ecf0f1;
}

.navbar a {
	color: #ecf0f1;
}

.navbar a:hover {
	color: #95a5a6;
}

.navbar-toggler {
	border: 1px solid #ffffff;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/***** Footer *****/
footer {
	position: relative;
	clear: both;
	background: url('https://github.com/hunterhedges/mipsSimulator/blob/master/images/overlay.png?raw=true');
	background-color: #041942;
	height: 75px;
	margin-top: -75px;
}

/***** Upload Section *****/
.upload-container {
	min-height: 500px;
	display: flex;
	border: 3px dotted black;
	font-size: 22px;
}

.file-input {
	display: none;
}

.upload-icon {
	max-width: 100%;
	width: 50%;
}

.file-hover {
	background-color: #e6e6e6;
}

.demo-link {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 16px;
}

/***** Decoded Instruction Section *****/
.decoded-instructions-container {
	display: none;
	border: 3px dotted black;
	font-size: 22px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.decoded-instructions-container h4 {
	margin-bottom: 20px;
}

.decoded-instructions-container p {
	text-align: left;
	font-size: 16px;
}

/***** Simulation Section *****/
.simulation-results-container {
	display: none;
	border: 3px dotted black;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/***** iPhone 5 *****/
@media(max-width: 320px) {
	.navbar-brand {
		font-size: 18px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.upload-icon {
		width: 35%;
	}

	.upload-container {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
